{% extends 'portfolio/base/base.html'%}


{% block main %}
<section id="styles" class="s-styles" style="background-color:white;">

    <div class="row" >
    
        <div class="column large-12 intro">
    
            <h1>Hello {{Name}}</h1>
    
            <p class="lead">
                Thanks for dedicating your time to post a complement to my portfolio. Click the button below take a look at the testimonial display  <a class="btn h-full-width" href="/main/#testimonials"> click Button</a>
            </p>
    
            <hr class="fancy">
    
        </div>
    
    </div> 
</section>
{% endblock %}